### Data Prcoessing
#### This document covers:
##### 1. Data Cleaning
##### 2. Data Wrangling

In [1]:
import pandas as pd

In [2]:
sculpture = pd.read_csv(r"D:\Notes\IE\Recommendation System\Dataset_Raw\sculpture.csv")

#### 1. Sculpture Dataset

In [3]:
sculpture.head()

,Company,Service manager,the_geom,Asset_id,Property,Road segment,Location,Owner type,Title,Object type,Classification,Description,Inscription,History,Makers,Art date,Latitude,Longitude
0,City of Melbourne,Arts & Culture Branch,POINT (144.92393918797248 -37.79020534335677),1091168,NaN,Epsom Road between Westbourne Road and Smithfi...,Epsom Road between Westbourne Road and Smithfi...,Owned,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,The mural depicts the stockmen with their hors...,NaN,NaN,"McKinnon, Elizabeth",1990-92,144.923939,-37.790205
1,City of Melbourne,Parks Services Branch,POINT (144.97348397026266 -37.80977063998943),1091146,Parliament Reserve,NaN,Parliament Reserve,Owned,Coles Fountain,Fountain,Memorials,"Sited in Parliament Gardens, his Coles Fountai...",A gift to the people of Victoria from G.J. Col...,NaN,"Woodward, Robert",1981,144.973484,-37.809771
2,City of Melbourne,Arts & Culture Branch,POINT (144.96706152142454 -37.81642362550678),1087398,NaN,Intersection of Swanston Street and Flinders Lane,Intersection of Swanston Street and Flinders L...,Owned,Beyond the Ocean of Existence,Sculpture,Sculpture,"A patinated bronze sculpture, Beyond the Ocean...",NaN,NaN,"Quinn, Loretta",1993,144.967062,-37.816424
3,City of Melbourne,Arts & Culture Branch,POINT (144.96773271682704 -37.82607139191802),1086752,Malthouse Plaza,NaN,Malthouse Plaza approximately 33m NW of CitiPo...,Owned,Vault,Sculpture,Sculpture,Yellow painted welded plate steel sculpture.<b...,NaN,NaN,"Robertson Swann, Ron <br>",1980,144.967733,-37.826071
4,City of Melbourne,Arts & Culture Branch,POINT (144.97281890582408 -37.82630110126131),1086525,Kings Domain,NaN,Kings Domain approximately 93m NE of Marquis o...,Owned,Sir Thomas Blamey Memorial,Memorial,Sculpture,One rectangular cubic pedestal realised on gra...,Field Marshal Sir Thomas Albert Blamey / G.B.E...,NaN,"EWERS, Raymond B.",1958,144.972819,-37.826301

In [4]:
sculpture = sculpture.drop(['Location','Asset_id','Company', 'Service manager', 'the_geom', 'Property', 'Road segment', 'Owner type', 'Description', 'Inscription', 'History', 'Makers', 'Art date'], axis = 1)

In [5]:
sculpture.head()

,Title,Object type,Classification,Latitude,Longitude
0,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.923939,-37.790205
1,Coles Fountain,Fountain,Memorials,144.973484,-37.809771
2,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967062,-37.816424
3,Vault,Sculpture,Sculpture,144.967733,-37.826071
4,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.972819,-37.826301

In [6]:
sculpture = sculpture.rename({'Object type': 'Theme', 'Classification': 'Sub Theme'}, axis = 1)

In [7]:
sculpture.head()

                            Title      Theme  Sub Theme    Latitude  Longitude
0  Lynch''''s Bridge Mosaic Mural      Mural  Sculpture  144.923939 -37.790205
1                  Coles Fountain   Fountain  Memorials  144.973484 -37.809771
2   Beyond the Ocean of Existence  Sculpture  Sculpture  144.967062 -37.816424
3                           Vault  Sculpture  Sculpture  144.967733 -37.826071
4      Sir Thomas Blamey Memorial   Memorial  Sculpture  144.972819 -37.826301

In [8]:
sculpture.dtypes

Title         object
Theme         object
Sub Theme     object
Latitude     float64
Longitude    float64
dtype: object

In [9]:
sculpture['Green Space'] = False

In [10]:
sculpture['Sub Theme'].unique()

array(['Sculpture', 'Memorials', 'Unknown', 'Indigenous', 'Horology',
       'Illustrations', 'Ceramic', nan], dtype=object)

In [11]:
sculpture = sculpture[sculpture['Sub Theme'].notna()]

In [12]:
sculpture = sculpture[sculpture["Sub Theme"].str.contains("Unknown") == False]

In [13]:
sculpture["Sub Theme"] = sculpture["Sub Theme"].str.replace('Indigenous', 'Memorials')
sculpture["Sub Theme"] = sculpture["Sub Theme"].str.replace('Horology', 'Memorials')
sculpture["Sub Theme"] = sculpture["Sub Theme"].str.replace('Illustrations', 'Memorials')
sculpture["Sub Theme"] = sculpture["Sub Theme"].str.replace('Ceramic', 'Memorials')

In [14]:
sculpture.groupby(['Sub Theme'])['Sub Theme'].count()

Sub Theme
Memorials     42
Sculpture    152
Name: Sub Theme, dtype: int64

#### 2. Landmark Dataset

In [15]:
landmark = pd.read_csv(r"D:\Notes\IE\Recommendation System\Dataset_Raw\landmarks.csv")

In [16]:
landmark.head()

,Theme,Sub Theme,Feature Name,Co-ordinates
0,Transport,Railway Station,Flemington Bridge Railway Station,"(-37.7881645889621, 144.939277838304)"
1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),"(-37.8142591432011, 144.966638432727)"
2,Place Of Assembly,Library,The Melbourne Athenaeum Library,"(-37.8148855756416, 144.967291289941)"
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,"(-37.8060684577258, 144.971266479841)"
4,Place of Worship,Church,St Francis Church,"(-37.8118847831837, 144.962422614541)"

In [17]:
landmark.dtypes

Theme           object
Sub Theme       object
Feature Name    object
Co-ordinates    object
dtype: object

In [18]:
landmark['Co-ordinates'] = landmark['Co-ordinates'].str.replace('(', '')
landmark['Co-ordinates'] = landmark['Co-ordinates'].str.replace(')', '')
landmark[['Longitude', 'Latitude']] = landmark['Co-ordinates'].str.split(',', expand=True)

C:\Users\ounam\AppData\Local\Temp/ipykernel_45796/1972994740.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  landmark['Co-ordinates'] = landmark['Co-ordinates'].str.replace('(', '')
C:\Users\ounam\AppData\Local\Temp/ipykernel_45796/1972994740.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  landmark['Co-ordinates'] = landmark['Co-ordinates'].str.replace(')', '')

In [19]:
landmark

,Theme,Sub Theme,Feature Name,Co-ordinates,Longitude,Latitude
0,Transport,Railway Station,Flemington Bridge Railway Station,"-37.7881645889621, 144.939277838304",-37.7881645889621,144.939277838304
1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),"-37.8142591432011, 144.966638432727",-37.8142591432011,144.966638432727
2,Place Of Assembly,Library,The Melbourne Athenaeum Library,"-37.8148855756416, 144.967291289941",-37.8148855756416,144.967291289941
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,"-37.8060684577258, 144.971266479841",-37.8060684577258,144.971266479841
4,Place of Worship,Church,St Francis Church,"-37.8118847831837, 144.962422614541",-37.8118847831837,144.962422614541
...,...,...,...,...,...,...
237,Health Services,Private Hospital,Epworth Freemasons Hospital,"-37.8109710654051, 144.98370007659",-37.8109710654051,144.98370007659
238,Residential Accommodation,Dwelling (House),Bishopscourt,"-37.8132921649416, 144.98350690799",-37.8132921649416,144.98350690799
239,Health Services,Medical Services,Mercy Private Hospital,"-37.811896809802, 144.984435746587",-37.811896809802,144.984435746587
240,Place Of Assembly,Art Gallery/Museum,The Museum Of Australian Chinese History,"-37.8107686127655, 144.96923385414",-37.8107686127655,144.96923385414
241,Mixed Use,Retail/Office/Carpark,ANZ 'Gothic' Bank,"-37.8161580666029, 144.961673719242",-37.8161580666029,144.961673719242

In [20]:
landmark = landmark.drop(['Co-ordinates'], axis = 1)

In [21]:
landmark.head()

,Theme,Sub Theme,Feature Name,Longitude,Latitude
0,Transport,Railway Station,Flemington Bridge Railway Station,-37.7881645889621,144.939277838304
1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),-37.8142591432011,144.966638432727
2,Place Of Assembly,Library,The Melbourne Athenaeum Library,-37.8148855756416,144.967291289941
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,-37.8060684577258,144.971266479841
4,Place of Worship,Church,St Francis Church,-37.8118847831837,144.962422614541

In [22]:
landmark = landmark.rename({'Feature Name': 'Title'}, axis = 1)

In [23]:
# landmark.groupby(['Sub Theme'])['Sub Theme'].count()

In [24]:
landmark = landmark[landmark["Theme"].str.contains("Mixed Use|Place of Worship|Health Services|Health Services|Retail|Community Use|Education Centre|Office|Vacant Land|Purpose Built|Specialist Residential Accommodation|Residential Accommodation|Industrial|Warehouse/Store|Transport") == False]

In [25]:
landmark['Theme'].unique()

array(['Place Of Assembly', 'Leisure/Recreation'], dtype=object)

In [26]:
landmark['Sub Theme'].unique()

array(['Library', 'Informal Outdoor Facility (Park/Garden/Reserve)',
       'Major Sports & Recreation Facility',
       'Private Sports Club/Facility', 'Art Gallery/Museum',
       'Theatre Live', 'Outdoor Recreation Facility (Zoo, Golf Course)',
       'Function/Conference/Exhibition Centre', 'Observation Tower/Wheel',
       'Cinema', 'Indoor Recreation Facility', 'Gymnasium/Health Club'],
      dtype=object)

In [27]:
landmark.groupby(['Sub Theme'])['Sub Theme'].count()

Sub Theme
Art Gallery/Museum                                 19
Cinema                                              1
Function/Conference/Exhibition Centre               4
Gymnasium/Health Club                               1
Indoor Recreation Facility                          3
Informal Outdoor Facility (Park/Garden/Reserve)    37
Library                                             1
Major Sports & Recreation Facility                 14
Observation Tower/Wheel                             2
Outdoor Recreation Facility (Zoo, Golf Course)      4
Private Sports Club/Facility                        2
Theatre Live                                       15
Name: Sub Theme, dtype: int64

In [28]:
landmark = landmark[landmark["Sub Theme"].str.contains("Library|Function/Conference/Exhibition Centre|Cinema|Theatre Live|Private Sports Club/Facility") == False]

In [29]:
landmark.groupby(['Sub Theme'])['Sub Theme'].count()

Sub Theme
Art Gallery/Museum                                 19
Gymnasium/Health Club                               1
Indoor Recreation Facility                          3
Informal Outdoor Facility (Park/Garden/Reserve)    37
Major Sports & Recreation Facility                 14
Observation Tower/Wheel                             2
Outdoor Recreation Facility (Zoo, Golf Course)      4
Name: Sub Theme, dtype: int64

In [30]:
landmark

,Theme,Sub Theme,Title,Longitude,Latitude
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,-37.8060684577258,144.971266479841
38,Leisure/Recreation,Major Sports & Recreation Facility,State Netball Hockey Centre,-37.7857860016289,144.947580972027
39,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),University Square,-37.800410711209,144.960398319302
42,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Powlett Reserve,-37.8116929882498,144.987275671763
44,Leisure/Recreation,Major Sports & Recreation Facility,Carlton Football Club,-37.7840864379557,144.961967841559
...,...,...,...,...,...
222,Leisure/Recreation,Observation Tower/Wheel,Eureka Skydeck 88,-37.8216187583314,144.964622218598
227,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Sandridge Rail Bridge,-37.8201763042794,144.96298113724
230,Place Of Assembly,Art Gallery/Museum,Australian Centre For The Moving Image (ACMI),-37.8176107327202,144.969070431323
236,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Lincoln Square,-37.8027919689732,144.962760852233
240,Place Of Assembly,Art Gallery/Museum,The Museum Of Australian Chinese History,-37.8107686127655,144.96923385414

In [31]:
landmark = landmark.astype({'Longitude': 'float64', 'Latitude': 'float64'})

In [32]:
landmark.dtypes

Theme         object
Sub Theme     object
Title         object
Longitude    float64
Latitude     float64
dtype: object

In [33]:
landmark['Green Space'] = True

In [34]:
landmark

,Theme,Sub Theme,Title,Longitude,Latitude,Green Space
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,-37.806068,144.971266,True
38,Leisure/Recreation,Major Sports & Recreation Facility,State Netball Hockey Centre,-37.785786,144.947581,True
39,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),University Square,-37.800411,144.960398,True
42,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Powlett Reserve,-37.811693,144.987276,True
44,Leisure/Recreation,Major Sports & Recreation Facility,Carlton Football Club,-37.784086,144.961968,True
...,...,...,...,...,...,...
222,Leisure/Recreation,Observation Tower/Wheel,Eureka Skydeck 88,-37.821619,144.964622,True
227,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Sandridge Rail Bridge,-37.820176,144.962981,True
230,Place Of Assembly,Art Gallery/Museum,Australian Centre For The Moving Image (ACMI),-37.817611,144.969070,True
236,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Lincoln Square,-37.802792,144.962761,True
240,Place Of Assembly,Art Gallery/Museum,The Museum Of Australian Chinese History,-37.810769,144.969234,True

### Merging two Datasets

In [35]:
#merge = [sculpture, landmark]
outdoor = sculpture.append(landmark)

In [37]:
outdoor

,Title,Theme,Sub Theme,Latitude,Longitude,Green Space
0,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.923939,-37.790205,False
1,Coles Fountain,Fountain,Memorials,144.973484,-37.809771,False
2,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967062,-37.816424,False
3,Vault,Sculpture,Sculpture,144.967733,-37.826071,False
4,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.972819,-37.826301,False
...,...,...,...,...,...,...
222,Eureka Skydeck 88,Leisure/Recreation,Observation Tower/Wheel,144.964622,-37.821619,True
227,Sandridge Rail Bridge,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.962981,-37.820176,True
230,Australian Centre For The Moving Image (ACMI),Place Of Assembly,Art Gallery/Museum,144.969070,-37.817611,True
236,Lincoln Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.962761,-37.802792,True
240,The Museum Of Australian Chinese History,Place Of Assembly,Art Gallery/Museum,144.969234,-37.810769,True

In [38]:
outdoor = outdoor.dropna()

In [39]:
i = list(range(1001,1275))
outdoor['id'] = i

In [40]:
outdoor.dtypes

Title           object
Theme           object
Sub Theme       object
Latitude       float64
Longitude      float64
Green Space       bool
id               int64
dtype: object

In [41]:
outdoor['Sub Theme'].unique()

array(['Sculpture', 'Memorials',
       'Informal Outdoor Facility (Park/Garden/Reserve)',
       'Major Sports & Recreation Facility', 'Art Gallery/Museum',
       'Outdoor Recreation Facility (Zoo, Golf Course)',
       'Observation Tower/Wheel', 'Indoor Recreation Facility',
       'Gymnasium/Health Club'], dtype=object)

In [42]:
outdoor.groupby(['Sub Theme'])['Sub Theme'].count()

Sub Theme
Art Gallery/Museum                                  19
Gymnasium/Health Club                                1
Indoor Recreation Facility                           3
Informal Outdoor Facility (Park/Garden/Reserve)     37
Major Sports & Recreation Facility                  14
Memorials                                           42
Observation Tower/Wheel                              2
Outdoor Recreation Facility (Zoo, Golf Course)       4
Sculpture                                          152
Name: Sub Theme, dtype: int64

In [43]:
#'Sculpture',
#'Art Gallery/Museum',
# 'Informal Outdoor Facility (Park/Garden/Reserve)',
#'Indoor Recreation Facility',
# 'Outdoor Recreation Facility (Zoo, Golf Course)',
# Major Sports & Recreation Facility',
# 'Gymnasium/Health Club'
#'Memorials', 
# 'Observation Tower/Wheel',

In [44]:
outdoor['Walking'] = False

outdoor.loc[outdoor['Sub Theme'] == "Informal Outdoor Facility (Park/Garden/Reserve)", 'Walking'] = True 

outdoor['Cardio'] = False
outdoor.loc[outdoor['Sub Theme'] == "Major Sports & Recreation Facility", 'Cardio'] = True
outdoor.loc[outdoor['Sub Theme'] == "Gymnasium/Health Club", 'Cardio'] = True
outdoor.loc[outdoor['Sub Theme'] == "Outdoor Recreation Facility (Zoo, Golf Course)", 'Cardio'] = True
outdoor.loc[outdoor['Sub Theme'] == "Indoor Recreation Facility", 'Cardio'] = True

outdoor['Sightseeing'] = False
outdoor.loc[outdoor['Sub Theme'] == "Art Gallery/Museum", 'Sightseeing'] = True
outdoor.loc[outdoor['Sub Theme'] == "Observation Tower/Wheel", 'Sightseeing'] = True
outdoor.loc[outdoor['Sub Theme'] == "Memorials", 'Sightseeing'] = True
outdoor.loc[outdoor['Sub Theme'] == "Sculpture", 'Sightseeing'] = True

In [45]:
outdoor[outdoor['Sub Theme'] == "Sculpture"]

,Title,Theme,Sub Theme,Latitude,Longitude,Green Space,id,Walking,Cardio,Sightseeing
0,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.923939,-37.790205,False,1001,False,False,True
2,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967062,-37.816424,False,1003,False,False,True
3,Vault,Sculpture,Sculpture,144.967733,-37.826071,False,1004,False,False,True
4,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.972819,-37.826301,False,1005,False,False,True
5,A History Apparatus - Vessel Craft & Beacon,Sculpture,Sculpture,144.968211,-37.813049,False,1006,False,False,True
...,...,...,...,...,...,...,...,...,...,...
196,CH2 Rooftop Landscape,Sculpture,Sculpture,144.966734,-37.814157,False,1189,False,False,True
197,Zoo Paving,Paving,Sculpture,144.953294,-37.782561,False,1190,False,False,True
199,Sir John Monash,Memorial,Sculpture,144.972752,-37.826773,False,1192,False,False,True
200,Separation Memorial,Memorial,Sculpture,144.953686,-37.810695,False,1193,False,False,True
201,Apollo Belvedere,Sculpture,Sculpture,144.969757,-37.821059,False,1194,False,False,True

In [46]:
outdoor['Rating'] = 0

In [47]:
outdoor

,Title,Theme,Sub Theme,Latitude,Longitude,Green Space,id,Walking,Cardio,Sightseeing,Rating
0,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.923939,-37.790205,False,1001,False,False,True,0
1,Coles Fountain,Fountain,Memorials,144.973484,-37.809771,False,1002,False,False,True,0
2,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967062,-37.816424,False,1003,False,False,True,0
3,Vault,Sculpture,Sculpture,144.967733,-37.826071,False,1004,False,False,True,0
4,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.972819,-37.826301,False,1005,False,False,True,0
...,...,...,...,...,...,...,...,...,...,...,...
222,Eureka Skydeck 88,Leisure/Recreation,Observation Tower/Wheel,144.964622,-37.821619,True,1270,False,False,True,0
227,Sandridge Rail Bridge,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.962981,-37.820176,True,1271,True,False,False,0
230,Australian Centre For The Moving Image (ACMI),Place Of Assembly,Art Gallery/Museum,144.969070,-37.817611,True,1272,False,False,True,0
236,Lincoln Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.962761,-37.802792,True,1273,True,False,False,0
240,The Museum Of Australian Chinese History,Place Of Assembly,Art Gallery/Museum,144.969234,-37.810769,True,1274,False,False,True,0

In [48]:
outdoor['Content'] = 'Go for a walk to'

In [49]:
outdoor

,Title,Theme,Sub Theme,Latitude,Longitude,Green Space,id,Walking,Cardio,Sightseeing,Rating,Content
0,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.923939,-37.790205,False,1001,False,False,True,0,Go for a walk to
1,Coles Fountain,Fountain,Memorials,144.973484,-37.809771,False,1002,False,False,True,0,Go for a walk to
2,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967062,-37.816424,False,1003,False,False,True,0,Go for a walk to
3,Vault,Sculpture,Sculpture,144.967733,-37.826071,False,1004,False,False,True,0,Go for a walk to
4,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.972819,-37.826301,False,1005,False,False,True,0,Go for a walk to
...,...,...,...,...,...,...,...,...,...,...,...,...
222,Eureka Skydeck 88,Leisure/Recreation,Observation Tower/Wheel,144.964622,-37.821619,True,1270,False,False,True,0,Go for a walk to
227,Sandridge Rail Bridge,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.962981,-37.820176,True,1271,True,False,False,0,Go for a walk to
230,Australian Centre For The Moving Image (ACMI),Place Of Assembly,Art Gallery/Museum,144.969070,-37.817611,True,1272,False,False,True,0,Go for a walk to
236,Lincoln Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.962761,-37.802792,True,1273,True,False,False,0,Go for a walk to
240,The Museum Of Australian Chinese History,Place Of Assembly,Art Gallery/Museum,144.969234,-37.810769,True,1274,False,False,True,0,Go for a walk to

In [50]:
outdoor.to_csv('outdoor.csv', index = True)

,Title,Theme,Sub Theme,Latitude,Longitude,id
0,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.923939,-37.790205,1001
1,Coles Fountain,Fountain,Memorials,144.973484,-37.809771,1002
2,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967062,-37.816424,1003
3,Vault,Sculpture,Sculpture,144.967733,-37.826071,1004
4,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.972819,-37.826301,1005

#### 3. Bike Dataset

In [51]:
bike = pd.read_csv(r"D:\Notes\IE\Recommendation System\Dataset_Raw\com_bike_routes.csv")
play = pd.read_csv(r"D:\Notes\IE\Recommendation System\Dataset_Raw\playgrounds.csv")

In [52]:
bike.head()

,the_geom,info,direction,type,notes,name,status
0,MULTILINESTRING ((144.942712026961 -37.8073553...,NaN,Both Directions,On-Road Bike Lane,NaN,On-Road Bike Lane,NaN
1,MULTILINESTRING ((144.954502798069 -37.7831106...,NaN,Both Directions,Off-Road Bike Route,NaN,Off-Road Bike Route,NaN
2,MULTILINESTRING ((144.93443056586 -37.81607061...,NaN,Both Directions,Off-Road Bike Route,NaN,Off-Road Bike Route,NaN
3,MULTILINESTRING ((144.951780451295 -37.7902315...,NaN,Both Directions,Off-Road Bike Route,NaN,Off-Road Bike Route,NaN
4,MULTILINESTRING ((144.951739870439 -37.8232030...,NaN,Both Directions,Off-Road Bike Route,NaN,Off-Road Bike Route - Capital City Trail,NaN

In [53]:
bike = bike.drop(['info', 'status', 'notes'], axis = 1)

In [54]:
bike.name.unique()

array(['On-Road Bike Lane', 'Off-Road Bike Route',
       'Off-Road Bike Route - Capital City Trail', 'Informal Bike Route',
       'On-Road Bike Lane - Double Chevron Separated',
       'On-Road Bike Lane - Part-Time (peak period)',
       'On-Road Bike Lane - Kerbside Separated',
       'Corridor - Batman to Elsternwick',
       'Corridor - St Kilda to Coburg',
       'On-Road Bike Lane - Low Volume preferred bike route',
       'Corridor - River', 'Corridor - Sunine to Boxhill'], dtype=object)

In [55]:
bike.direction.unique()

array(['Both Directions', 'One Way'], dtype=object)

In [56]:
bike.type.unique()

array(['On-Road Bike Lane', 'Off-Road Bike Route', 'Informal Bike Route',
       'Corridor'], dtype=object)

In [57]:
bike = bike.rename({'direction': 'Theme', 'type': 'Sub Theme', 'name': 'Title'}, axis = 1)

In [58]:
bike

,the_geom,Theme,Sub Theme,Title
0,MULTILINESTRING ((144.942712026961 -37.8073553...,Both Directions,On-Road Bike Lane,On-Road Bike Lane
1,MULTILINESTRING ((144.954502798069 -37.7831106...,Both Directions,Off-Road Bike Route,Off-Road Bike Route
2,MULTILINESTRING ((144.93443056586 -37.81607061...,Both Directions,Off-Road Bike Route,Off-Road Bike Route
3,MULTILINESTRING ((144.951780451295 -37.7902315...,Both Directions,Off-Road Bike Route,Off-Road Bike Route
4,MULTILINESTRING ((144.951739870439 -37.8232030...,Both Directions,Off-Road Bike Route,Off-Road Bike Route - Capital City Trail
...,...,...,...,...
269,MULTILINESTRING ((144.961749574276 -37.7920119...,Both Directions,Off-Road Bike Route,Off-Road Bike Route
270,MULTILINESTRING ((144.963683388861 -37.8194990...,Both Directions,Off-Road Bike Route,Off-Road Bike Route
271,MULTILINESTRING ((144.968601248214 -37.8238303...,Both Directions,On-Road Bike Lane,On-Road Bike Lane
272,MULTILINESTRING ((144.903115988728 -37.7897806...,Both Directions,Off-Road Bike Route,Off-Road Bike Route
273,MULTILINESTRING ((144.977631602481 -37.8229203...,Both Directions,Off-Road Bike Route,Off-Road Bike Route

In [59]:
bike.isnull().sum()

the_geom     0
Theme        0
Sub Theme    0
Title        0
dtype: int64

In [60]:
geom = bike['the_geom'].str.split(',', expand=True, n=1)

In [61]:
geom1 = geom[0].str.split('(', expand = True)

In [62]:
geom1[['Latitude', 'Longitude']] = geom1[2].str.split(' ', expand = True)

In [63]:
geom1.columns

Index([0, 1, 2, 'Latitude', 'Longitude'], dtype='object')

In [64]:
geom1 = geom1.drop([0,1,2], axis = 1)

In [65]:
bike = bike.drop(['the_geom'], axis = 1)

In [66]:
bike[['Latitude', 'Longitude']] = geom1

In [67]:
bike

,Theme,Sub Theme,Title,Latitude,Longitude
0,Both Directions,On-Road Bike Lane,On-Road Bike Lane,144.942712026961,-37.807355344058
1,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.954502798069,-37.783110661276
2,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.93443056586,-37.816070619003
3,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.951780451295,-37.790231531464
4,Both Directions,Off-Road Bike Route,Off-Road Bike Route - Capital City Trail,144.951739870439,-37.823203075611
...,...,...,...,...,...
269,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.961749574276,-37.792011913798
270,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.963683388861,-37.819499091195
271,Both Directions,On-Road Bike Lane,On-Road Bike Lane,144.968601248214,-37.823830399503
272,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.903115988728,-37.789780617953
273,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.977631602481,-37.822920309966

In [68]:
bike.dtypes

Theme        object
Sub Theme    object
Title        object
Latitude     object
Longitude    object
dtype: object

In [69]:
bike = bike.astype({'Longitude': 'float64', 'Latitude': 'float64'})

In [70]:
bike.dtypes

Theme         object
Sub Theme     object
Title         object
Latitude     float64
Longitude    float64
dtype: object

In [71]:
i = list(range(2001,2275))
bike['id'] = i

In [73]:
bike['Content'] = 'Go for a cycle ride to'

In [74]:
bike.head()

,Theme,Sub Theme,Title,Latitude,Longitude,id,Content
0,Both Directions,On-Road Bike Lane,On-Road Bike Lane,144.942712,-37.807355,2001,Go for a cycle ride to
1,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.954503,-37.783111,2002,Go for a cycle ride to
2,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.934431,-37.816071,2003,Go for a cycle ride to
3,Both Directions,Off-Road Bike Route,Off-Road Bike Route,144.951780,-37.790232,2004,Go for a cycle ride to
4,Both Directions,Off-Road Bike Route,Off-Road Bike Route - Capital City Trail,144.951740,-37.823203,2005,Go for a cycle ride to

In [75]:
bike.to_csv('bicycle.csv')

#### 4. Nutrition [DISCARDED]

In [297]:
nutrition = pd.read_excel(r"D:\Notes\IE\Recommendation System\Dataset_Raw\nutri.xlsx", sheet_name='All solids & liquids per 100g')

In [299]:
nutrition = nutrition.loc[:, nutrition.columns.isin(['Food Name', 'Protein \n(g)', 'Fat, total \n(g)'])]

In [300]:
nutrition

,Food Name,Protein \n(g),"Fat, total \n(g)"
0,"Cardamom seed, dried, ground",10.8,6.7
1,"Chilli (chili), dried, ground",13.4,14.3
2,"Cinnamon, dried, ground",4.0,1.2
3,"Cloves, dried, ground",6.0,13.0
4,"Coriander seed, dried, ground",12.4,17.8
...,...,...,...
1611,"Zucchini, green skin, fresh, unpeeled, fried, ...",1.3,0.4
1612,"Zucchini, green skin, fresh, unpeeled, boiled,...",1.1,0.4
1613,"Zucchini, golden, fresh, unpeeled, raw",2.2,0.3
1614,"Zucchini, golden, fresh, unpeeled, fried, no a...",3.1,0.4
1615,"Zucchini, golden, fresh, unpeeled, boiled, dra...",2.6,0.4